<!--
    Placeholders:

    - {Brand}
    - {Name}
    - {Price}
    - {Link}
    - {FullName}
    - {PrimaryImageBase64}
    - {CheckedAt}
-->

<h3>Great news!</h3>
<p>
    The <strong>{Brand}</strong> product, <strong>{Name}</strong>, is now available for purchase at <strong>{Price}</strong>.
</p>
<p>
    You can view it here: <a href="{Link}">View Product</a>
</p>
<p>
    <img src="data:image/jpeg;base64,{PrimaryImageBase64}" alt="Product Image" width="300" />
</p>
<p>
    <em>Checked on:</em> {CheckedAt}
</p>